# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [2]:
import pandas as pd
import os

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [7]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [8]:
df.head(3)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [9]:
df.shape[0]

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [10]:
for index in df:
    print index

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [11]:
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [12]:
print df[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [16]:
size = df.shape[0]
print df[size - 2 : size]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [18]:
df.Ozone[47-1]

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [19]:
df.Ozone.shape[0] - df.Ozone.count()

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [36]:
df.Ozone.mean()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [29]:
df2 = df[df.Ozone > 31].copy()
df2 = df[df.Temp > 90]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [32]:
df2['Solar.R'].mean()

225.0

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [33]:
df[df.Month == 6].Temp.mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [34]:
df[df.Month == 5].Ozone.max()

115.0